Django==5.2.14
djangorestframework==3.17.1
django-cors-headers==4.9.0
PyMySQL==1.1.3
python-dotenv==1.0.0
django-simple-history==3.13.0
djangorestframework-simplejwt==5.5.1
pyotp==2.10.0
qrcode==8.2
pillow==12.2.0
django-csp==4.0
cryptography==50.0.2
django-encrypted-model-fields==0.6.5
